@model IEnumerable<Order>
@{
    ViewData["Title"] = "AllOrders";
}

<div style="width: 100%; text-align:center;">
    @if (Model != null && Model.Count() > 0)
    {
        <h4 style="text-align:center;margin-block: 1rem;">Orders</h4>
        <table class="table table-striped table-hover table-orders table-responsive table-sm">
            <tr>
                <th>Id | Date | Name</th>
                <th>Email | Phone</th>
                <th>Address</th>
                <th>Payment | Order Status</th>
            </tr>
            @foreach (var order in Model)
            {
                <tr class="tr-all-orders">
                    <td>
                        id: @order.Id
                        <br />
                        @order.CreatedAt.ToString("dd-MM-yyyy")
                        <br />
                        @order.Name
                        <br />
                        <button style="margin-block: 0.2rem;" data-bs-toggle="modal" data-bs-target="#modal-@order.Id" type="button" class="btn btn-sm btn-success">Order details</button>
                        @await Html.PartialAsync("/Views/AdminOperations/_OrderDetailModal.cshtml",
                                 new OrderDetailModel { DivId = order.Id.ToString(), OrderDetail = order.OrderDetails })
                    </td>
                    <td>
                        @order.Email
                        <br />
                        @order.MobileNumber
                    </td>
                    <td style="font-size: 10px; font-weight: 300;">@order.Address</td>
                    <td>
                        <div>
                            <div style="margin-block: 0.2rem;"><a style="font-size: 15px; width:8rem; max-height:2.3rem;" asp-action="UpdateOrderStatus" asp-route-orderId="@order.Id" class="btn btn-sm btn-outline-success">@order.OrderStatus.StatusTitle</a></div>
                            <div style="margin-block: 0.2rem;">
                                <a style="font-size: 15px; width:8rem; max-height:2.3rem;" asp-action="TogglePaymentStatus" asp-route-orderId="@order.Id" class="btn btn-sm btn-outline-success">
                                    @if (@order.PaymentMethod == "COD")
                                    {
                                        <img style="height:20px;" src="/img/cod.png" />
                                    }
                                    else
                                    {
                                        <img style="height:20px;" src="/img/online.png" />
                                    }
                                    @(order.IsPaid ? "Paid" : "Not paid")
                                </a>
                            </div>
                        </div>
                        
                        
                    </td>
                </tr>
            }
        </table>
        <div class="container-sm table-orders-mobile">
            @foreach (var order in Model)
            {
                <div class="row" style="border: solid 1px; border-radius: 10px; margin-block: 2rem;">
                    <div style="border-top: none;">
                        Id: @order.Id  Date: @order.CreatedAt.ToString("dd-MM-yyyy") Name: @order.Name
                    </div>
                    <div class="col-sm-2">
                        Email: @order.Email
                    </div>
                    <div>
                         Phone: @order.MobileNumber
                    </div>
                    <div class="col-sm-2">
                        Address
                    </div>
                    <div style="height:4.7rem;word-break: break-all; font-size: 11px;">
                        @order.Address
                    </div>
                    <div style="display: flex; justify-content: space-between;" class="col-sm-2">
                        <a style="font-size: 11px;margin-block: 1rem; width: 7rem;" asp-action="UpdateOrderStatus" asp-route-orderId="@order.Id" class="btn btn-sm btn-outline-success">@order.OrderStatus.StatusTitle</a>
                        <button data-bs-toggle="modal" data-bs-target="#modal-mobile-@order.Id" style="font-size: 14px;margin-block: 1rem;" type="button" class="btn btn-sm btn-success">Order details</button>
                        <a style="font-size: 11px;margin-block: 1rem; width: 7rem;" asp-action="TogglePaymentStatus" asp-route-orderId="@order.Id" class="btn btn-sm btn-outline-success">
                            @if (@order.PaymentMethod == "COD")
                            {
                                <img style="height:20px;" src="/img/cod.png" />
                            }
                            else
                            {
                                <img style="height:20px;" src="/img/online.png" />
                            }
                            @(order.IsPaid ? "Paid" : "Not paid")
                        </a>
                    </div>
                    @await Html.PartialAsync("/Views/AdminOperations/_OrderDetailModalMobile.cshtml",
                             new OrderDetailModel { DivId = order.Id.ToString(), OrderDetail = order.OrderDetails })
                </div>
            }
        </div>
    }
    else
    {
        <h4 style="text-align:center;margin-block: 1rem;">No orders</h4>
    }
</div>