@model ShoppingCart
@{
    ViewData["Title"] = "GetUserCart";
}
<a href="/UserOrder/UserOrders">
    my orders
</a>
@if (Model != null && Model.CartDetails != null && Model.CartDetails.Count > 0)
{
    <div style="margin-inline: auto;">
        <h3 style ="text-align:center">My cart</h3>
        <table class="table table-striped">
            @foreach (var cartItem in Model.CartDetails)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("IndexSingle","Home", new {id = cartItem.Product.Id})">
                            @if (string.IsNullOrEmpty(cartItem.Product.ProductImage))
                            {
                                <img class="img-table" src="/img/No_Picture.jpg" alt="@cartItem.Product.ProductTitle" />
                            }
                            else
                            {
                                <img class="img-table" src="/img/@cartItem.Product.ProductImage" alt="@cartItem.Product.ProductTitle" />
                            }
                        </a>
                    </td>
                    <td>
                        Title: @cartItem.Product.ProductTitle <br /><p>Type: @cartItem.Product.ProductType.TypeTitle</p> <br />
                    </td>
                    <td>Price: @cartItem.Product.Price £  <br /><p> Quantity: @cartItem.Quantity</p></td>
                    <td>Total price: @(cartItem.Product.Price * cartItem.Quantity) £</td>
                    <td><a href="/Cart/RemoveProduct?productId=@cartItem.ProductId" class="btn btn-sm btn-danger">-</a></td>
                    <td><a href="/Cart/AddProduct?productId=@cartItem.ProductId&&redirect=1" class="btn btn-sm btn-success">+</a></td>
                </tr>
            }
        </table>

        <div style="text-align:center" class="my-2">
            <h3>Total: @(Model.CartDetails.Select(item => item.Product.Price * item.Quantity).Sum()) £</h3>
        </div>

        <div style="text-align:center">
            <a class="btn btn-outline-success" href="/Cart/Checkout">Confirm</a>
        </div>
    </div>
}
else
{
    <h3 style="text-align:center">Cart is empty</h3>
}
