@model ShoppingCart
@{
    ViewData["Title"] = "GetUserCart";
}
<div class="row" style="margin-block: 1rem;">
    <div style="text-align: center;" class="col-6">
        <a href="/UserOrder/UserOrders">
            <img style="width:2rem;" src="/img/icons8-purchase-order-48.png" />my orders
        </a>
    </div>
    <div style="text-align: center;" class="col-6">
        <a href="/">
            <img style="width:2rem;" src="/img/icons8-shop-48.png" />go to shop
        </a>
    </div>
</div>
@if (Model != null && Model.CartDetails != null && Model.CartDetails.Count > 0)
{
    <div style="margin-inline: auto;">
        <table class="table table-striped">
            @foreach (var cartItem in Model.CartDetails)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("IndexSingle","Home", new {id = cartItem.Product.Id})">
                            @if (string.IsNullOrEmpty(cartItem.Product.ProductImage))
                            {
                                <img class="img-table" src="/img/No_Picture.jpg" alt="@cartItem.Product.ProductTitle" />
                            }
                            else
                            {
                                <img class="img-table" src="/img/@cartItem.Product.ProductImage" alt="@cartItem.Product.ProductTitle" />
                            }
                        </a>
                    </td>
                    <td>
                        Title: @cartItem.Product.ProductTitle <br /><p>Type: @cartItem.Product.ProductType.TypeTitle</p> <br />
                    </td>
                    <td>Price: @cartItem.Product.Price £ <br />Total price: @(cartItem.Product.Price * cartItem.Quantity) £</td>
                    <td><a href="/Cart/RemoveProduct?productId=@cartItem.ProductId" class="btn btn-sm btn-danger">-</a></td>


                    <td><span class="badge text-bg-warning">@cartItem.Quantity</span></td>
                    <td>
                        @if (cartItem.Quantity < cartItem.Product.Stock.Quantity)
                        {
                            <a href="/Cart/AddProduct?productId=@cartItem.ProductId&&redirect=1" class="btn btn-sm btn-success">+</a>
                        }
                        else
                        {
                            <button class="btn btn-sm btn-outline-danger" disabled>+</button>
                        }
                    </td>
                </tr>
            }
        </table>

        <div style="text-align:center" class="my-2">
            <h3>Total: @(Model.CartDetails.Select(item => item.Product.Price * item.Quantity).Sum()) £</h3>
        </div>

        <div style="text-align:center">
            <a class="btn btn-outline-success" href="/Cart/Checkout">Confirm</a>
        </div>
    </div>
}
else
{
    <div style="text-align: center;">
        <img style="width: 300px;" src="~/img/empty-cart.png" />
        <h3 style="text-align:center">Cart is empty</h3>
    </div>
}
