@model Product

<div class="row">
    <div class="col-7">
        @if (string.IsNullOrEmpty(Model.ProductImage))
        {
            <img class="full-card-img" src="/img/No_Picture.jpg" alt="@Model.ProductTitle" />
        }
        else
        {
            <img class="full-card-img" src="/img/@Model.ProductImage" alt="@Model.ProductTitle" />
        }
    </div>
    <div class="col-5">
        <div class="row">
            <div style="justify-content:center; align-items: center; text-align: center;">
                <h2>@Model.ProductTitle</h2>
            </div>
            <div style="border-top: solid 1px gray"></div>
            <br />
            <h3 style="text-align:center;">@Model.ProductTypeTitle</h3>
            <div style="border-top: solid 1px gray"></div>
            <br />
        </div>
        <div class="row">
            <div style="text-align: center;">
                <div class="price-icon">
                    <h3 style="text-align:center; bottom:0;">@Model.Price £</h3>
                </div>
                <button onclick="add(@Model.Id)" type="button" class="btn btn-success align-content-center">Add to cart</button>
            </div>
        </div>
    </div>
</div>
<br />
<div>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    About @Model.ProductTitle
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>@Model.Description</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        async function add(productId){
            var userNameEl = document.getElementById('username')
            if(userNameEl == null){
                window.location.href = "/Identity/Account/Login"
            }
            try{
                var response = await fetch(`/Cart/AddProduct?productId=${productId}`)
                if(response.status === 200){
                    var result = await response.json()
                    var cartCountEl = document.getElementById('cartCount')
                    cartCountEl.innerHTML = result
                }
            }
            catch(err){
                console.log(err)
            }
        }
    </script>
}
