@model ProductDisplayModel
@using WebApplication1.Areas.Identity.Data

@{
    ViewData["Title"] = "";
}

<partial name="_SearchPartial" />
<div class="mt-4 w-100 d-flex flex-wrap justify-content-center">
    @foreach (var product in Model.Products)
    {
        <div class="card mx-2 mb-4" style="width: 19rem;">
            @if (string.IsNullOrEmpty(product.ProductImage))
            {
                <a href="@Url.Action("IndexSingle","Home", new {id = product.Id})">
                    <img style="height: 19rem; border-radius: 8px;" src="/img/No_Picture.jpg" class="card-img-top" alt="@product.ProductTitle">
                    <span class="badge text-bg-warning badge-quantity">
                        @product.Quantity
                    </span>
                </a>
            }
            else
            {
                <a href="@Url.Action("IndexSingle","Home", new {id = product.Id})">
                    <img style="height: 19rem; border-radius: 8px;" src="/img/@product.ProductImage" class="card-img-top" alt="@product.ProductTitle">
                    <span class="badge text-bg-warning badge-quantity">
                        @product.Quantity
                    </span>
                </a>
            }
            <div class="card-body">
                <h5 class="card-title">@product.ProductTitle</h5>
                <p class="card-text">@product.ProductTypeTitle </p>
                <p class="card-text">@product.Price £</p>
                @if (product.Quantity > 0)
                {
                    <button id="add-to-card-@product.Id" onclick="add(@product.Id)" type="button" class="btn btn-success align-content-center add-to-card">Add to cart</button>
                    <script type="text/javascript">
                        async function SetButton(productId)
                        {
                        var userNameEl = document.getElementById('username')
                        if (userNameEl == null) {
                        return
                        }
                        else
                        {
                        var button = document.getElementById(`add-to-card-${productId}`)
                        var quantityInCartRes = await fetch(`/Cart/GetProductQuantityInCart?productId=${productId}`)
                        var quantityInCart = await quantityInCartRes.json()
                        if (quantityInCart > 0) {
                        button.innerHTML = `Added ${quantityInCart}`
                        button.classList.remove('btn-success')
                        button.classList.add('btn-outline-success')
                        }
                        }
                        }
                        SetButton(@product.Id)
                    </script>
                }
                else
                {
                    <button disabled class="btn btn-outline-danger">Out of stock</button>
                }
            </div>
        </div>
    }
</div>
<div style="text-align:center;display: flex; justify-content: center;margin-block: 1rem;">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @if (Model.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="/Home/Index?search=@Model.Search&productTypeId=@Model.ProductTypeId&maxPrice=@Model.MaxPrice&minPrice=@Model.MinPrice&currentPage=@(Model.CurrentPage-1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" href="/Home/Index?search=@Model.Search&productTypeId=@Model.ProductTypeId&maxPrice=@Model.MaxPrice&minPrice=@Model.MinPrice&currentPage=@(Model.CurrentPage)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                if (i == Model.CurrentPage)
                {
                    <li class="page-item"><a class="page-link active" href="/Home/Index?search=@Model.Search&productTypeId=@Model.ProductTypeId&maxPrice=@Model.MaxPrice&minPrice=@Model.MinPrice&currentPage=@i">@i</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" href="/Home/Index?search=@Model.Search&productTypeId=@Model.ProductTypeId&maxPrice=@Model.MaxPrice&minPrice=@Model.MinPrice&currentPage=@i">@i</a></li>
                }
            }
            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="/Home/Index?search=@Model.Search&productTypeId=@Model.ProductTypeId&maxPrice=@Model.MaxPrice&minPrice=@Model.MinPrice&currentPage=@(Model.CurrentPage+1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" href="/Home/Index?search=@Model.Search&productTypeId=@Model.ProductTypeId&maxPrice=@Model.MaxPrice&minPrice=@Model.MinPrice&currentPage=@(Model.CurrentPage)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>
